.details {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    padding: 32px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    border-bottom: 1px solid #e3e8ec;
}
.link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.link:hover {
    opacity: 0.7;
}